.carousel-item img {
    height: 500px; /* Ajusta la altura de la imagen según sea necesario */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 15px;
  }

  

  